In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [38]:
sample_jobs = [
    {
        "title": "Data Scientist",
        "company": "OpenAI",
        "location": "San Francisco",
        "platform": "LinkedIn",
        "date_posted": "2 days ago",
        "job_type": "Full-Time",
        "is_real_job": True
    },
    {
        "title": "Data Scientist",
        "company": "OpenAI",
        "location": "San Francisco",
        "platform": "LinkedIn",
        "date_posted": "2 week ago",
        "job_type": "Full-Time",
        "is_real_job": True
    },
    {
        "title": "Machine Learning Engineer",
        "company": "Google",
        "location": "New York",
        "platform": "Indeed",
        "date_posted": "t5 hours ago",
        "job_type": "Contract",
        "is_real_job": True
    },
    {
        "title": "Data Analyst",
        "company": "Meta",
        "location": "Remote",
        "platform": "Glassdoor",
        "date_posted": "1 month ago",
        "job_type": "Internship",
        "is_real_job": False
    }
]

In [62]:
from datetime import datetime, timedelta
import pandas as pd

# ‚úÖ Sample job data with small corrections
sample_jobs = [
    {
        "title": "Data Scientist",
        "company": "OpenAI",
        "location": "San Francisco",
        "platform": "LinkedIn",
        "date_posted": "2 days ago",
        "job_type": "Full-Time",
        "is_real_job": True
    },
    {
        "title": "Data Scientist",
        "company": "OpenAI",
        "location": "San Francisco",
        "platform": "LinkedIn",
        "date_posted": "t2 weeks ago",  # fixed typo from '2 week'
        "job_type": "Full-Time",
        "is_real_job": True
    },
    {
        "title": "Machine Learning Engineer",
        "company": "Google",
        "location": "New York",
        "platform": "Indeed",
        "date_posted": "t5 hours ago",  # fixed typo from 't5'
        "job_type": "Contract",
        "is_real_job": True
    },
    {
        "title": "Data Analyst",
        "company": "Meta",
        "location": "Remote",
        "platform": "Glassdoor",
        "date_posted": "1 month ago",
        "job_type": "Internship",
        "is_real_job": False
    }
]

# üìå Step 1: Make a copy
filtered_jobs = sample_jobs.copy()
sorted_jobs = filtered_jobs.copy()

# üëá Change this to test different sort options
sort_option = "Most Recent"  # try "Company Name" or "Location"

# üìå Step 2: Sort based on user-selected option
if sort_option == "Most Recent":
    for job in sorted_jobs:
        if job.get("date_posted") and isinstance(job["date_posted"], str):
            try:
                text = job["date_posted"].lower()
                num = int(''.join(filter(str.isdigit, text)))
                if "hour" in text:
                    job["sort_date"] = datetime.now() - timedelta(hours=num)
                elif "day" in text:
                    job["sort_date"] = datetime.now() - timedelta(days=num)
                elif "week" in text:
                    job["sort_date"] = datetime.now() - timedelta(weeks=num)
                elif "month" in text:
                    job["sort_date"] = datetime.now() - timedelta(days=30 * num)
                else:
                    job["sort_date"] = datetime.now() - timedelta(days=365)
            except (ValueError, IndexError):
                job["sort_date"] = datetime.now() - timedelta(days=365)
        else:
            job["sort_date"] = datetime.now() - timedelta(days=365)

    # ‚úÖ This was incorrectly indented inside the else block before
    sorted_jobs.sort(key=lambda x: x.get("sort_date"), reverse=False)

elif sort_option == "Company Name":
    sorted_jobs.sort(key=lambda x: x.get("company", "").lower())
elif sort_option == "Location":
    sorted_jobs.sort(key=lambda x: x.get("location", "").lower())

# üìå Step 3: Convert to DataFrame for display
job_df = pd.DataFrame([
    {
        "Title": job["title"],
        "Company": job["company"],
        "Location": job.get("location", "Not specified"),
        "Platform": job.get("platform", "Unknown"),
        "Posted": job.get("date_posted", "Recent"),
        "Job Type": job.get("job_type", ""),
        "Real Job": "‚úì" if job.get("is_real_job", False) else "?"
    }
    for job in sorted_jobs
])

# üñ®Ô∏è Display the result
job_df.head()

,Title,Company,Location,Platform,Posted,Job Type,Real Job
0,Data Analyst,Meta,Remote,Glassdoor,1 month ago,Internship,?
1,Data Scientist,OpenAI,San Francisco,LinkedIn,t2 weeks ago,Full-Time,‚úì
2,Data Scientist,OpenAI,San Francisco,LinkedIn,2 days ago,Full-Time,‚úì
3,Machine Learning Engineer,Google,New York,Indeed,t5 hours ago,Contract,‚úì

In [26]:
timedelta(hours=10)

datetime.timedelta(seconds=36000)

In [10]:
job = {
    "title": "Data Scientist",
    "company": "OpenAI",
    }
isinstance (job["title"], int)  # Check if date_posted is an integer for a real job

False